---
import "./index.css"

import Icons    from "../components/Icons"
import Icons_MD from "../components/Icons_MD.md"

import Icon_Javascript  from "~icons/logos/nodejs-icon"
import Icon_Star        from "~icons/fa-solid/star"
import Icon_StarOutline from "~icons/fa-regular/star"
---

<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>

	<body>
		<main>

			<section>
				<h2>TSX</h2>
				<div class="Icons">
					<Icons/>
				</div>
			</section>

			<section>
				<h2>MD</h2>
				<div class="Icons">
					<Icons_MD/>
				</div>
			</section>

			<section>
				<h2>Astro</h2>
				<div class="Icons">
					<Icon_Star       />
					<Icon_Javascript />
					<Icon_StarOutline/>
				</div>
			</section>

		</main>
	</body>

</html>
