---
import Icons from "../components/Icons"
---

<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

		<style>
			html, body, main{
				width:  100%;
				height: 100%;
				margin: 0;
			}

			main{
				display:         flex;
				flex-direction:  row;
				justify-content: space-around;
				align-items:     center;
			}
		</style>

	</head>

	<body>
		<main>
			<Icons/>
		</main>
	</body>

</html>
